col-hd-bg1   = #a4c639
col-hd-bg2   = #3a4246
col-tx-lin   = #bec1c2
col-btn-hd   = #ff5722
col-btn-main = #64b5f6
col-main-act = #ff5722
col-main-p   = #b2b5b5
col-main-sp  = #aeafaf
col-main-h2  = #485254
col-main-h3  = #485254
col-main-h4  = #485254
col-main-h5  = #485254
col-main-h6  = #485254

